micronaut:
  application:
    name: pixRest
grpc:
  client:
    plaintext: true
    max-retry-attempts: 10
  channels:
    registrospix:
      address: 'localhost:50051'
      plaintext: true
      max-retry-attempts: 10
